<div data-theme-section="white" class="light-section">
          <div data-pixel-transition="" class="pixel-transition-padding"></div>
          <div class="light-layout">
            <div class="container sg-container">
              <div data-shift-section="" class="shift-section">
                <div class="shift-layout">
                  <div class="shift-text_block-wrapper">
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block1/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">But</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block2/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Then,</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block3/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Something</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block4/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Shifts</div>
                    </div>
                  </div>
                  <div class="shift-text_block-wrapper">
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block5/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Not</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block6/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Dramatically,</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block7/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Not</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block8/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">All</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block9/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">At</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block10/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Once</div>
                    </div>
                  </div>
                  <div class="shift-text_block-wrapper">
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block11/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">You</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block12/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Learn</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block13/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">To</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block14/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Breathe</div>
                    </div>
                    <div data-shift-text-block="" class="shift-text_block" style="position: relative; background-color: transparent;">
                      <div class="shift-image-overlay" style="position: absolute; inset: 0; background-image: url('https://picsum.photos/seed/block15/400/300'); background-size: cover; background-position: center; z-index: 1;"></div>
                      <div class="sg-text-body-large" style="position: relative; z-index: 0;">Again</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="care-section">
                <div class="light-svg_layout">
                  <div class="light-svg_wrapper">
                    <div class="w-embed">
                      <svg
                        data-svg-wrapper=""
                        style="width: 100%; height: 100%"
                        viewbox="0 0 1976 6071"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          data-svg-path=""
                          d="M54.0784 320.178C54.0784 320.178 291.979 167.143 480.241 126.665C1574.4 -108.587 -14.443 1271.02 232.265 1941.77C511.831 2701.86 1767.64 2424.3 1869.6 3196.84C1961.44 3892.65 913.829 3975.39 633.68 4489.92C535.619 4670.02 547.664 4806.66 500.04 5011.44C366.078 5587.48 139.578 6024.98 139.578 6024.98"
                          stroke="#1A73E8"
                          stroke-linecap="square"
                          stroke-width="200"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="care-layout">
                  <div class="care-text_wrapper right-side">
                    <div class="care-text">
                      <div
                        data-split-style="words"
                        data-split="heading"
                        class="sg-text-body-huge care-text_right"
                      >
                        You start caring less about being seen and more about
                        seeing the people who support you, the small wins that
                        used to go unnoticed.
                      </div>
                    </div>
                  </div>
                  <div class="care-text_wrapper">
                    <div class="care-text">
                      <div
                        data-split-style="words"
                        data-split="heading"
                        class="sg-text-body-huge"
                      >
                        You find friends who remind you that the creative path
                        was never meant to be straight. You realize that growth
                        isn’t a sprint...
                      </div>
                    </div>
                  </div>
                  <div class="care-text_wrapper right-side">
                    <div class="care-text">
                      <div
                        data-split-style="words"
                        data-split="heading"
                        class="sg-text-body-huge care-text_right"
                      >
                        It’s the quiet endurance between failures. You start
                        finding beauty in the uncertainty, and maybe even
                        find...
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        